// Variables
$body-color: #ffffff;
$primary-color: #21c87a; // yum custom
$secondary-color: #7c7491;
$border-color:#e5e5e5;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$text-color: #848484;
$gray: #eae9ec;
$light-gray: #fafafa;
$light: #fff;
$black: #222222;
$icon-font: FontAwesome;
