html {
    scroll-behavior: smooth;
}

.section {
    &.recipe {
        padding-top:0px;
    }
}

.yum-thumb-holder {
    width:80px;
    height:75px;
    overflow:hidden;
    margin-right: 15px;
    img {
        max-width:110%;
    }
}

#logo {
    img {
        max-width:140px;
    }
}

.main-nav {
    .yum-add-new {
        padding: 38px 32px;
        i {
            color:white;
        }
        span {
            border-left: none;
        }

        &:hover {
            background-color: darken(#21c87a, 5);
        }
    }
    .navbar-brand {
        padding: 4px 40px 15px 50px;
    }
}

.bg-title {
    background-image: url('../images/icons8-team-seDjj4dmC9s-unsplash.webp');
    &.recipe-bg {
        background-image: url('../images/becca-tapert-mDOGXiuVb4M-unsplash.webp');
    }
}

.page-title {

    padding-top:170px;

    h3 {
        margin-bottom:0px;
    }
}

.diet {
    span {
        position: relative;
        top:12px;
    }
    &.meat {
        &:before {
            content: url('../images/meat.svg');
        }
    }
    &.pescovege {
        &:before {
            content: url('../images/pescovege.svg');
        }
    }
    &.vege {
        &:before {
            content: url('../images/vege.svg');
        }
    }
    
    &:before {
        @extend .leftbar-icons;
    }
}

.meal {
    span {
        position: relative;
        top:20px;
    }
    
    &:before {
        @extend .leftbar-icons;
    }
    &.breakfast {
        &:before {
            content: url('../images/breakfast.svg');
        }
    }
    &.lunch {
        &:before {
            content: url('../images/lunch.svg');
        }
    }
    &.dinner {
        &:before {
            content: url('../images/dinner.svg');
        }
    }
    &.supper {
        &:before {
            content: url('../images/supper.svg');
        }
    }
    &.snack {
        &:before {
            content: url('../images/snack.svg');
        }
    }
    &.dessert {
        &:before {
            content: url('../images/dessert.svg');
        }
    }
}

.leftbar-icons {
        display: inline-block; 
        margin-right:15px;
        position: relative;
        top:12px; 
        margin-bottom:8px;
}


.post-thumb {

    height:175px;
    overflow:hidden;

    img {
        width: 100%;
    }
}

.news {
    .blog-post {
        border: 1px solid #e5e5e5;
        .post-content {
            border:none;
            padding:22px 52px 10px 52px;
            padding-bottom:0px;
            .yum-diet {
                background-size: 50px 50px;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
            &.pescovege {
                background-image: url('../images/pescovege.svg');
            }
            &.meat {
                background-image: url('../images/meat.svg');
            }
            &.vege {
                background-image: url('../images/vege.svg');
            }
            }
            .yum-meal {
                top: -125px;
                background:white;
                background-size: 50px 50px;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: 26px;
                height:83px;
        
                span {
                    align-self: flex-start;
                    font-size:11px;
                    display:flex;
                    letter-spacing: 0.3px;
                    line-height:0.9;
                    height:30px;
                    //background:tomato;
                    align-items: center;
                }
                
                &.breakfast {
                    background-image: url('../images/breakfast.svg');
                }
                &.lunch {
                    background-image: url('../images/lunch.svg');
                }
                &.supper {
                    background-image: url('../images/supper.svg');
                }
                &.snack {
                    background-image: url('../images/snack.svg');
                }
                &.dessert {
                    background-image: url('../images/dessert.svg');
                }
                &.dinner {
                    background-image: url('../images/dinner.svg');
                }
            }
            .post-title {
                h2{
                
                line-height:13px;
                margin-top:22px;     
                 a {
                     font-size:19px;
                     line-height: 1;
                     font-weight:bold;
                 }               
                }
            }
            .post-meta {
                ul {
                    li{
                        a{
                            margin-right:0px;
                            padding-right:0px;
                            margin-left:12px;
                        }
                    }
                }
            }
        }
    } // blog post
 
}



.equal-item {
    padding-bottom:30px;
}



article {
    .post-details {
        padding-bottom:25px;
    }

    .autodelete {
        position: absolute;
        background:#EF8E1B;
        font-size:12px;
        padding: 2px 5px;
        border-radius: 5px;
        right:15px;
        bottom: 50px;
    }

    .taxonomy {
      
        color: white;
        background: #2A2A37;
        padding:12px;
        padding-left:22px;
        padding-top:20px;
        padding-bottom:20px;
        h4 {
            font-size:16px;
            color: white;
            display:inline-block;
            margin-right:3px;
        }
        .line {
            margin-top:4px;
            &:not(h4) {
                color:#848484;
            }
            &:first-child {
                margin-top:8px;
            }
        }

        .icontax {
            margin-bottom: 20px;
            a {
                margin-bottom:15px;
            }
        }

        .meal {
            font-size:17px;
            &:before {
                $size_padding:3px;
                margin-right:15px;
                background: white;
                border-radius: 20px;
                text-align: center;
                padding-top: 1.5px;
                width:40 + $size_padding;
                height:40 + $size_padding;
                margin-bottom:15px;
            }
        }
        .diet {
            font-size:17px;
            &:before {
                background: white;
                border-radius:5px;
                padding:4px;
                padding-right:3px;
                height:39px;
                //margin-right:11px;
                margin-right:15px;
                margin-bottom:30px;
            }
        }

        .print {
            color:white;
            position:absolute;
            bottom:14px;
            right:20px;
            opacity:0.6;
            &:before {
                position:relative;
                top:3px;
                content:'';
                display: inline-block;
                width:21px;
                height:21px;
                background-image: url('../images/print_white.svg');
                background-size:cover;
                margin-right:5px;
            }

            &:hover{
                opacity:1;
            }
        }
    }
    
    h3, h2 {
        font-weight: 400;
        font-size: 25px;
        margin-top: 17px;
        text-transform: capitalize;
    }

    .post-thumb {
        padding:0px;
        min-height:301px;

        img {
            width:100%;
        }
    }

    ul {
        margin-top:25px;
        margin-bottom:40px;
    }
}

.widget {
    &.tags {
        ul li a {
            font-size:13px;
            padding: 8px 18px;
        }
    }
}

nav.pagination {
    display:block;
}

.taglike_single {
    display:block;
    padding:15px;
    span {
        border:1px solid #e5e5e5;
        padding:25px;
        display:block;
    }
    
}

.yum.page {
    padding-top:70px;

    h1, h2, h3 {
        font-weight: 400;
    }

    img {
        position:relative;
        margin-bottom:18px;
        top:7px;

        &.left {
            float:left; 
            margin-right:35px;
            
        }
        &.right {
            float:right; 
            margin-left:35px;
        }
    }

    &.single-speaker {
        .block {
            padding-bottom:0px;
        }
    }

}

select.form-control:not([size]):not([multiple]) {
    height: auto!important;
    cursor:pointer;

}
.yum-form {
    select {
        option {
            height:20px!important;
        }
    }
    .error {
        color: tomato;
        position: absolute;
        top:-18px;
        font-style: italic;
        font-size:13px;
    }
    .input-error {
        border: 1px solid tomato;
        box-shadow:0 0 12px rgba(255, 99, 71, 0.2); 
    }
    .success {
        span {
            margin-bottom: 20px;
            display:block;
            font-weight:bold;
            a {
                text-decoration: underline;
            }
        }
    }
}


@media (max-width: 991px) { 
    .main-nav .navbar-nav .nav-item .nav-link {
        font-weight:bold;
        background: #21c87a;
        color:white!important;
        span {
            display:none;
        }
    }
 }


